﻿@model CMS.Dto.HTMLDto

@{
    ViewBag.Title = "AddNew";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Add Text
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Home", "Index", "Home")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">
                                    @Html.ActionLink("All Texts", "Index", "HTML")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">Add New</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form>
                <div class="col-lg-10">

                    <div class="card">
                        <div class="card-header">
                            <strong>Add Form</strong>
                        </div>
                        <div class="card-body card-block">

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "form-control-label" })
                                    @Html.HiddenFor(model => model.HtmlID)
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.SmallDetails, htmlAttributes: new { @class = "form-control-label" })
                                </div>
                                <div class="col-12 col-md-9">
                                    @Html.TextBoxFor(model => model.SmallDetails, new { @class = "form-control" })

                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="disabled-input" class="form-control-label">Deatils</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    
                                    @Html.TextAreaFor(model => model.BigDetails, 5, 3, new { @class = "form-control bigc ckeditor" })
                                    
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3">
                                    <label for="file-input" class=" form-control-label">File input</label>
                                </div>
                                <div class="col-12 col-md-9">
                                    <input type="file" id="file-input" name="file-input" class="form-control-file">
                                </div>
                            </div>
                            @Html.HiddenFor(model => model.MasterID)
                            @Html.HiddenFor(model => model.LastUpdated, DateTime.Now)
                            <div class="row form-group">
                                <div class="col col-md-3">
                                    @Html.LabelFor(model => model.Lang, htmlAttributes: new { @class = "form-control-label" })

                                </div>
                                <div class="col col-md-9">
                                    <div class="form-check-inline form-check">
                                        <label for="inline-radio1" class="form-check-label ">

                                            @Html.RadioButtonFor(model => model.Lang, "English", new { id = "inline-radio1" })
                                            True

                                            @*@Html.Label("true", "True")*@
                                        </label>
                                        <label for="inline-radio2" class="form-check-label ">
                                            @Html.RadioButtonFor(model => model.Lang, "Swedish", new { id = "inline-radio2" })
                                            False
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" id="btnSave" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>

                        </div>
                    </div>

                </div>

            </form>

        </div>

        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="smallmodalLabel">Response</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="successModalText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>




    </section>
</div>
<script>
    CKEDITOR.replace(BigDetails,
                                         {
                                             filebrowserImageUploadUrl: '~/ckeditor/Upload.ashx', //path to “Upload.ashx”
                                             "extraPlugins": 'imagebrowser,justify',
                                             "imageBrowser_listUrl" : '~/ckeditor/Browser.ashx'
                                         }
                );

    
    $(document).ready(function () {
        
        $('#btnSave').on('click', function () {
            $('form').find('.bigc').each(function (index) {
                $(this).val(CKEDITOR.instances[$(this).attr('id')].getData());
            });
            //event.preventDefault();
            var formData = $('form').serialize();
            $.ajax({
                type: "POST",
                url: '/Admin/HTML/SaveHTML',
                data: formData,
                success: function (data) {
                    $('#successModal').modal('show');
                    $('#successModalText').text(data.Message);

                },
                error: function () {
                    $('#successModal').modal('show');
                    //$('#successModalText').text(error.status + "<--save and--> " + error.statusText);
                    $('#successModalText').text('Error');
                }
            });
        });

    });
</script>

