﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <!-- Title Page-->
    
    <!-- Fontfaces CSS-->

    <title>@ViewBag.Title | CMS</title>
    <!-- Fontfaces CSS-->
    <link href="~/Areas/Admin/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <!-- Bootstrap CSS-->
   
    <link href="~/Areas/Admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <!-- Vendor CSS-->
    <link href="~/Areas/Admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Areas/Admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    
    <link href="~/Areas/Admin/css/theme.css" rel="stylesheet" media="all">

    <!-- Jquery JS-->
    <script src="~/Areas/Admin/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Areas/Admin/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Areas/Admin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
</head>
<body>
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="#">
                            <img src="~/Areas/Admin/images/icon/logo-white.png" alt="CoolAdmin" />
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            
                            <li>
                                
                                <a href='@Url.Action("Index", "Home")'>
                                    <i class="fas fa-tachometer-alt"></i>Dashboard
                                    <span class="bot-line"></span>
                                </a>
                                
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-shopping-basket"></i>
                                    <span class="bot-line"></span>Products
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        @Html.ActionLink("Product Category","Index","Category")
                                        
                                    </li>
                                    <li>
                                        @Html.ActionLink("Products", "Index", "Product")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Featured Product", "Featured", "Product")
                                        
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href='@Url.Action("Index", "SEO")'>
                                    <i class="fas fa-trophy"></i>
                                    <span class="bot-line"></span>SEO
                                </a>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-copy"></i>
                                    <span class="bot-line"></span>Pages
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        @Html.ActionLink("All HTMLs", "Index", "Html")
                                        
                                    </li>
                                    <li>
                                        @Html.ActionLink("Contact Us Requests", "Index", "ContactUs")
                                        
                                    </li>
                                   
                                </ul>
                            </li>
                            <li class="has-sub">
                                <a href="#">
                                    <i class="fas fa-desktop"></i>
                                    <span class="bot-line"></span>Careers
                                </a>
                                <ul class="header3-sub-list list-unstyled">
                                    <li>
                                        @Html.ActionLink("All Jobs", "Index", "Career")
                                        
                                    </li>
                                    <li>
                                        @Html.ActionLink("Job Applicants", "Applicants", "Career")
                                        
                                    </li>
                                    
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="header__tool">
                        
                        @*<div class="header-button-item js-item-menu">
                            <i class="zmdi zmdi-settings"></i>
                            <div class="setting-dropdown js-dropdown">
                                <div class="account-dropdown__body">
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-account"></i>Account
                                        </a>
                                    </div>
                                    <div class="account-dropdown__item">
                                        <a href="#">
                                            <i class="zmdi zmdi-settings"></i>Setting
                                        </a>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>*@
                        <div class="account-wrap">
                            <div class="account-item account-item--style2 clearfix js-item-menu">
                                <div class="image">
                                    <img src="~/Areas/Admin/images/icon/avatar-01.jpg" alt="Admin" />
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">Admin</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="#">
                                                <img src="~/Areas/Admin/images/icon/avatar-01.jpg" alt="Admin" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="#">Admin</a>
                                            </h5>
                                            <span class="email">johndoe@example.com</span>
                                        </div>
                                    </div>
                                    <div class="account-dropdown__body">
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-account"></i>Account
                                            </a>
                                        </div>
                                        <div class="account-dropdown__item">
                                            <a href="#">
                                                <i class="zmdi zmdi-settings"></i>Setting
                                            </a>
                                        </div>
                                        
                                    </div>
                                    <div class="account-dropdown__footer">
                                        <a href='@Url.Action("Logout", "Login")'>
                                            <i class="zmdi zmdi-power"></i>Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- END HEADER DESKTOP-->
        <!-- HEADER MOBILE-->
        <header class="header-mobile header-mobile-2 d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="~/Areas/Admin/images/icon/logo-white.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-tachometer-alt"></i>Dashboard
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>

                                    <a href="index.html">Dashboard </a>
                                </li>
                                
                            </ul>
                        </li>
                        <li>
                            <a href="chart.html">
                                <i class="fas fa-chart-bar"></i>Htmls
                            </a>
                        </li>
                        <li>
                            <a href="table.html">
                                <i class="fas fa-table"></i>Products
                            </a>
                        </li>
                       
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-copy"></i>Pages
                            </a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="register.html">Register</a>
                                </li>
                                <li>
                                    <a href="forget-pass.html">Forget Password</a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </header>
        <div class="sub-header-mobile-2 d-block d-lg-none">
            <div class="header__tool">
                
                <div class="header-button-item js-item-menu">
                    <i class="zmdi zmdi-settings"></i>
                    <div class="setting-dropdown js-dropdown">
                        <div class="account-dropdown__body">
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-account"></i>Account
                                </a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-settings"></i>Setting
                                </a>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img src="~/Areas/Admin/images/icon/avatar-01.jpg" alt="John Doe" />
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">john doe</a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img src="~/Areas/Admin/images/icon/avatar-01.jpg" alt="John Doe" />
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#">john doe</a>
                                    </h5>
                                    <span class="email">johndoe@example.com</span>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-account"></i>Account
                                    </a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-settings"></i>Setting
                                    </a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-money-box"></i>Billing
                                    </a>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="#">
                                    <i class="zmdi zmdi-power"></i>Logout
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END HEADER MOBILE -->
       
        <!-- PAGE CONTENT-->
        @RenderBody()
    </div>


    

    
    <!-- Vendor JS       -->
    <script src="~/Areas/Admin/vendor/slick/slick.min.js">
    </script>
    <script src="~/Areas/Admin/vendor/wow/wow.min.js"></script>
    <script src="~/Areas/Admin/vendor/animsition/animsition.min.js"></script>
    <script src="~/Areas/Admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/Areas/Admin/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Areas/Admin/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/Areas/Admin/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Areas/Admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Areas/Admin/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Areas/Admin/vendor/select2/select2.min.js">
    </script>
    <!-- Main JS-->
    <script src="~/Areas/Admin/js/main.js"></script>
</body>
</html>
<!-- end document-->
