﻿
@{
    ViewBag.Title = "App";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section class="breadcrumbs-custom">
    <div class="breadcrumbs-custom-main context-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <h3 class="breadcrumbs-custom-title">Features</h3><a class="link-waypoint-icon icon mdi mdi-chevron-double-down" href="#main-content" data-waypoint-to="#main-content" data-waypoint-relative-to=".rd-navbar-panel"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-aside">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Hem</a></li>
                <li class="active">App &System</li>
            </ul>
        </div>
    </div>
</section>
<section class="section oh" id="main-content">
    <section class="stuck-navbar stuck-1 navbar bg-gray-100-color" data-navbar="{ &quot;stuck&quot;: { &quot;container&quot;: &quot;#main-content&quot;, &quot;offsetRef&quot;: &quot;.rd-navbar-panel&quot;}, &quot;anchor&quot;: {&quot;offsetRef&quot;: &quot;.rd-navbar-panel, .navbar&quot;}}">
        <nav class="navbar-inner">
            <ul class="container list-nav-classic navigation">
                <li><a href="#features-1">Planeringsfasen </a></li>
                <li><a href="#features-2">UI & UX</a></li>
                <li><a href="#features-3">Front-end</a></li>
                <li><a href="#features-4">Back-end & betatest</a></li>
            </ul>
        </nav>
    </section>
    <section class="section-md bg-gray-100">
        <!-- Quick and Intuitive Profile Configuration in 3 steps-->
        <div class="container" id="features-1">
            <div class="row row-50 justify-content-xl-between align-items-center">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <div class="unit unit-spacing-1 align-items-center">
                        <div class="unit-left">
                            <div class="icon icon-style-1 mdi mdi-account-multiple-plus"></div>
                        </div>
                        <div class="unit-body">
                            <h3>Hur vi arbetar</h3>
                        </div>
                    </div>
                    <div class="block-4 offset-top-4">
                        <p class="big text-gray-900">
                            Vi arbetar med agil projektledning, vilket betyder att vi jobbar i flera etapper. På detta sätt är kunden ständigt delaktig och stämmer av varje delmoment längs hela utvecklingsprocessen, produkten blir då 100% kundorienterad.
                            </p>
                           </p> Projektet initieras med planeringsfasen där vi jobbar mycket med  Co-creation vilket betyder att kunden inte bara ger oss en lista att följa utan att vi tillsammans med vår partner fastställer, bollar utgångspunkter, funktioner och idéer. På detta sätt skapar vi värde tillsammans!
                        </p>
                        <!-- Quote Light-->
                        <blockquote class="quote-light">
                            <div class="quote-light-mark linearicons-quote-open"></div>
                            <div class="quote-light-text">
                                <p>"Alone we can do so little; together we can do so much." </p>
                               <p> – Helen Keller</p>
                            </div>
                        </blockquote>
                        <div class="group-buttons-responsive group-middle"><a class="button button-secondary button-winona" href="login.html">Start Using for Free</a><a class="button button-default-outline button-winona" href="about-us.html">More About Alice</a></div>
                    </div>
                </div>
                <div class="col-sm-10 col-lg-6 wow fadeInLeftSmall">
                    <div class="thumbnail-classy">
                        <div class="thumbnail-classy-image bg-image" style="background-image: url(../Content/images/hurviarbetar.jpg);"></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- We Have a Lot of Useful Solutions for You-->
        <div class="container" id="features-2">
            <div class="row row-50 justify-content-xl-between align-items-center flex-md-row-reverse">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <div class="unit unit-spacing-1 align-items-center">
                        <div class="unit-left">
                            <div class="icon icon-style-1 mdi mdi-calendar-check"></div>
                        </div>
                        <div class="unit-body">
                            <h3>UI & UX</h3>
                        </div>
                    </div>
                    <div class="block-4 offset-top-4">
                        <p class="big text-gray-900">Efter planeringsfasen börjar vi visualisera systemet med ett flödesschema, där alla initiala funktioner fastställs, vi bygger därefter vidare med en wireframe som agerar som skelettet för designen. Vårt design team designer UI och UX utefter wireframe och flödesschemat. </p>
                        <p>Vid detta stadie är det superviktigt att vi utför en scenario planning vilket innebär att vi testar systemet i olika verklighets scenarion, samt testar extremfall. Detta ger oss en inblick i vad var slags funktioner som saknas</p>
                        <ul class="list-marked list-marked_secondary">
                            <li>Flödeschema</li>
                            <li>Wireframe</li>
                            <li>Design</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-10 col-lg-6 wow fadeInLeftSmall">
                    <div class="thumbnail-classy">
                        <div class="thumbnail-classy-image bg-image" style="background-image: url(../Content/images/uiux.jpg);"></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Use Our Stickers to Tell About Your Emotions-->
        <div class="container" id="features-3">
            <div class="row row-50 justify-content-xl-between align-items-center">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <div class="unit unit-spacing-1 align-items-center">
                        <div class="unit-left">
                            <div class="icon icon-style-1 mdi mdi-emoticon"></div>
                        </div>
                        <div class="unit-body">
                            <h3>Front-end</h3>
                        </div>
                    </div>
                    <div class="block-4 offset-top-4">
                        <p class="big text-gray-900">
                            I denna etapp påbörjas frontend arbetet. Hög säkerhet, Skalbarhet och kod återanvändning är de tre grundpelare i vår utvecklings architektur. Då vi jobber med 100% skräddarsydda lösningar anpassar vi technologin och val av plattform utefter den optimala scenario lösningen
                            .
                        </p>
                       
                    </div>
                </div>
                <div class="col-sm-10 col-lg-6 wow fadeInLeftSmall">
                    <div class="thumbnail-classy">
                        <div class="thumbnail-classy-image bg-image" style="background-image: url(../Content/images/java.jpg);"></div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Powerful Tool for Tracking the Statistics-->
        <div class="container" id="features-4">
            <div class="row row-50 justify-content-xl-between align-items-center flex-md-row-reverse">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <div class="unit unit-spacing-1 align-items-center">
                        <div class="unit-left">
                            <div class="icon icon-style-1 mdi mdi-chart-pie"></div>
                        </div>
                        <div class="unit-body">
                            <h3>Powerful Tool for Tracking the Statistics</h3>
                        </div>
                    </div>
                    <div class="block-4 offset-top-4">
                        <p class="big">Our Statistics Module integrated into Alice App is a powerful tool that gathers all important data on your company’s commercial success on one screen, including the features that are not offered by other developers that are popular nowadays. These features are:</p>
                        <ul class="list-marked list-marked_secondary">
                            <li>Daily/Weekly sales summary</li>
                            <li>Amount of converted leads</li>
                            <li>Number of referrals and opened newsletters</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-10 col-lg-6 wow fadeInLeftSmall">
                    <div class="thumbnail-classy">
                        <div class="thumbnail-classy-image bg-image" style="background-image: url(../Content/images/backend.jpg);"></div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- 24/7 support-->
