﻿
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section class="breadcrumbs-custom">
    <div class="breadcrumbs-custom-main context-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <h3 class="breadcrumbs-custom-title">Our Services</h3>
                    <p class="big">We offer three different complimentary services that together will optimize your digital presence. Let us take your business to its fullest potential</p>
                    <a class="link-waypoint-icon icon mdi mdi-chevron-double-down" href="#main-content" data-waypoint-to="#main-content" data-waypoint-relative-to=".rd-navbar-panel"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-aside">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</section>
<section class="section oh" id="main-content">
    <section class="stuck-navbar stuck-1 navbar bg-gray-100-color" data-navbar="{ &quot;stuck&quot;: { &quot;container&quot;: &quot;#main-content&quot;, &quot;offsetRef&quot;: &quot;.rd-navbar-panel&quot;}, &quot;anchor&quot;: {&quot;offsetRef&quot;: &quot;.rd-navbar-panel, .navbar&quot;}}">
        <nav class="navbar-inner">
            <ul class="container list-nav-classic navigation">
                <li><a href="#features-1">Web development </a></li>
                <li><a href="#features-2">Content creation</a></li>
                <li><a href="#features-3">Search engine optimization</a></li>

            </ul>
        </nav>
    </section>
    <section class="section-md bg-gray-100">
        <!-- Quick and Intuitive Profile Configuration in 3 steps-->
        <div class="container" id="features-1">
            <div class="row row-50 justify-content-xl-between align-items-center">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <div class="unit unit-spacing-1 align-items-center">
                        <div class="unit-left">
                            <div class="icon icon-style-1 mdi mdi-account-multiple-plus"></div>
                        </div>
                        <div class="zmdi-developer-board">
                            <h3>Web Development</h3>
                        </div>
                    </div>
                    <div class="block-4 offset-top-4">
                        <p class="big text-gray-900">In today's market, one of the most essential marketing tools for a business is to have an impressive digital presence. Having a good website instantly boosts your credibility as a legitimate business. We believe that first impressions count, with our websites you will create strong and lasting impressions. We create 100% custom websites that will help showcase your expertise and better position your business.</p>
                        <div class="group-buttons-responsive group-middle"><a class="button button-default-outline button-winona" href="/portfolio">Work Samples</a></div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">

                    <div class="safari-frame-2-right">
                        <article class="safari-frame-2">
                            <img class="safari-frame-2-header" src="~/Content/images/safari-frame-2-610x40.png" alt="" width="610" height="40" />
                            <div class="safari-frame-2-inner" style="background-image: url(../Content/images/portfolio/pärlavideo.gif);"></div>
                        </article>
                    </div>

                </div>
            </div>
        </div>
        <!-- We Have a Lot of Useful Solutions for You-->
        <div class="container" id="features-2">
            <div class="row row-50 justify-content-xl-between align-items-center flex-md-row-reverse">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <div class="unit unit-spacing-1 align-items-center">
                        <div class="unit-left">
                            <div class="icon icon-style-1 mdi mdi-calendar-check"></div>
                        </div>
                        <div class="unit-body">
                            <h3>Content creation</h3>
                        </div>
                    </div>
                    <div class="block-4 offset-top-4">
                        <p class="big text-gray-900">Having a good website is not enough, it is just as important to have great content to complement your great new website. That is why we provide professional content creation for your website. We have partnered with professional photographers and writers who specialize in English and Swedish to create impressive content.</p>

                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <div class="safari-frame-2-right">
                        <article class="safari-frame-2">
                            <img class="safari-frame-2-header" src="~/Content/images/safari-frame-2-610x40.png" alt="" width="720" height="40" />
                            <div class="safari-frame-2-inner" style="background-image: url(../Content/images/portfolio/contentcreation.jpg);"></div>
                        </article>
                    </div>
                </div>
            </div>
        </div>

        <!-- Powerful Tool for Tracking the Statistics-->
        <div class="container" id="features-3">
            <div class="row row-50 justify-content-xl-between align-items-center">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <div class="unit unit-spacing-1 align-items-center">
                        <div class="unit-left">
                            <div class="icon icon-style-1 mdi mdi-chart-pie"></div>
                        </div>
                        <div class="unit-body">
                            <h3>Search engine optimization</h3>
                        </div>
                    </div>
                    <div class="block-4 offset-top-4">
                        <p class="big">What is the meaning of having a beautiful website with amazing content if nobody can find it on google? To make sure that your website always comes up at the top when searching for relevant keywords, we offer search engine optimization. This service is essential for attracting more traffic to your website enabling growth.</p>

                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <div class="safari-frame-2-right">
                        <article class="safari-frame-2">
                            <img class="safari-frame-2-header" src="~/Content/images/safari-frame-2-610x40.png" alt="" width="850" height="auto" />
                            <div class="safari-frame-2-inner" style="background-image: url(../Content/images/portfolio/google_analytics.png);"></div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- Pricing Plans-->
<section class="section section-2 bg-gray-100 text-center">
    <div class="parallax-content">
        <div class="container">
            <div class="badge">Pricing</div>
            <div class="toggle-modern" aria-label="Pricing Switch Monthly/Yearly" id="pt-classic-toggle">
                <div class="toggle-modern-text toggle-modern-text_default">Monthly</div>
                <button class="toggle-modern-switch content-toggle" data-multitoggle="#pt-classic, #pt-classic-toggle"><span class="toggle-modern-switch-element"></span></button>
                <div class="toggle-modern-text toggle-modern-text_alternate">Yearly</div>
            </div>
            <!-- Pricing Table Classic-->
            <div class="pt-classic-group" id="pt-classic">
                <!-- Owl Carousel-->
                <div class="owl-carousel owl-carousel_type-2" data-items="1" data-md-items="2" data-lg-items="3" data-dots="false" data-nav="true" data-stage-padding="0" data-loop="false" data-margin="30" data-lg-margin="20" data-xl-margin="30" data-mouse-drag="false">
                    <article class="pt-classic wow slideInRightLg" data-wow-delay=".5s">
                        <h4 class="pt-classic-title">Basic</h4>
                        <div class="pt-classic-price-outer">
                            <div class="pt-classic-price" aria-hidden="false">
                                <div class="pt-classic-price-currency">$</div>
                                <div class="pt-classic-price-value">49</div>
                            </div>
                            <div class="pt-classic-price" aria-hidden="true">
                                <div class="pt-classic-price-currency">$</div>
                                <div class="pt-classic-price-value">470</div>
                            </div>
                        </div>
                        <div class="pt-classic-divider"></div>
                        <ul class="pt-classic-list">
                            <li>20 Users</li>
                            <li>16 GB Cloud Storage</li>
                            <li>Regular Updates</li>
                            <li aria-disabled="true">eCommerce Integration</li>
                            <li aria-disabled="true">Interface Customization</li>
                            <li aria-disabled="true">24/7 Support</li>
                            <a class="button button-default-outline button-winona" href="/Contact">Kom igång</a>
                        </ul>

                    </article>
                    <article class="pt-classic pt-classic_style-2 pt-classic_preferred wow scaleIn">
                        <div class="pt-classic-header">
                            <h4 class="pt-classic-title">Standard<span class="pt-classic-icon"><span class="icon mdi mdi-heart text-secondary"></span><span class="icon mdi mdi-heart text-secondary"></span></span></h4>
                            <div class="pt-classic-price-outer">
                                <div class="pt-classic-price" aria-hidden="false">
                                    <div class="pt-classic-price-currency">$</div>
                                    <div class="pt-classic-price-value">79</div>
                                </div>
                                <div class="pt-classic-price" aria-hidden="true">
                                    <div class="pt-classic-price-currency">$</div>
                                    <div class="pt-classic-price-value">758</div>
                                </div>
                                <div class="badge badge-1">Save 20%</div>
                            </div>
                        </div>
                        <div class="pt-classic-divider"></div>
                        <ul class="pt-classic-list">
                            <li>50 Users</li>
                            <li>32 GB Cloud Storage </li>
                            <li>Regular Updates</li>
                            <li>eCommerce Integration</li>
                            <li aria-disabled="true">Interface Customization</li>
                            <li aria-disabled="true">24/7 Support</li>
                            <a class="button button-default-outline button-winona" href="/Contact">Kom igång</a>
                        </ul>
                        <div class="pt-classic-footer">

                            <p class="pt-classic-note">Rekomenderas</p>
                        </div>
                    </article>
                    <article class="pt-classic pt-classic_style-3 wow slideInLeftLg" data-wow-delay=".5s">
                        <h4 class="pt-classic-title">Premium</h4>
                        <div class="pt-classic-price-outer">
                            <div class="pt-classic-price" aria-hidden="false">
                                <div class="pt-classic-price-currency">$</div>
                                <div class="pt-classic-price-value">99</div>
                            </div>
                            <div class="pt-classic-price" aria-hidden="true">
                                <div class="pt-classic-price-currency">$</div>
                                <div class="pt-classic-price-value">950</div>
                            </div>
                        </div>
                        <div class="pt-classic-divider"></div>
                        <ul class="pt-classic-list">
                            <li>100 Users</li>
                            <li>64 GB Cloud Storage</li>
                            <li>Regular Updates</li>
                            <li>eCommerce Integration</li>
                            <li>Interface Customization</li>
                            <li>24/7 Support</li>
                            <a class="button button-default-outline button-winona" href="/Contact">Kom igång</a>
                        </ul>

                    </article>
                </div>
            </div>
        </div>
    </div>
</section>



