﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section class="breadcrumbs-custom">
    <div class="breadcrumbs-custom-main context-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <h3 class="breadcrumbs-custom-title">The Only Application You'll Need <br class="d-none d-lg-block"> to Power Your Life.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-aside">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Hem</a></li>
                <li class="active">Om oss</li>
            </ul>
        </div>
    </div>
</section>
<!-- Who we Are-->
<section class="section section-md">
    <div class="container">
        <div class="row row-50 align-items-center">
            <div class="col-md-8 col-lg-7">
                <h3>Vi är din IT partner</h3>
                <p class="text-gray-900">
                    Vi strävar efter att skapa en framtid fylld av innovativa lösningar som förbättrar och effektiviserar vårt samhälle.  En framtid där fler företag har en god digital närvaro som speglar deras verksamhet på bästa möjliga sätt. Vår filosofi är att växa genom att skapa tillväxt och värde för våra partners.
                </p>
                <p>
                    Vi åstadkommer vår mission genom att ständigt ligga på framkanten inom IT utveckling. Vi associerar oss endast med top utvecklare från Bangladesh och indien där vi erhåller majoriteten av våra utvecklingsteam. Detta säkerställer en hög kvalitet, kapacitet och kundnöjdhet.
                </p>
                <!-- Quote Light-->
                <blockquote class="quote-light quote-light_1">
                    <div class="quote-light-mark linearicons-quote-open"></div>
                    <div class="quote-light-text">
                        <p>"It is literally true that you can succeed best and quickest by helping others to succeed." </p>
                        <p>– Napolean Hill</p>
                    </div>
                </blockquote>
            </div>
            <div class="col-md-4 col-lg-5">
                <div class="phone-frame-1_mod-1">
                    <div class="phone-frame-1">
                        <img src="Content/images/iphone-frame-1-523x517.jpg" alt="" width="100%"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- People Ready to Change the World -->
<section class="section section-md bg-gray-100 text-center">
    <div class="container">
        <div class="badge">Kärnteamet</div>
        <h3>Vi framtidssäkrar din verksmahet</h3>
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-carousel_profile-modern" data-items="1" data-sm-items="2" data-lg-items="3" data-xl-items="4" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="Content/images/team-1-369x315.jpg" alt="" width="100%"  />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Sonali P</h4>
                        <p class="profile-modern-position">Finansdirektör</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Get in Touch</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="Content/images/team-2-369x315.jpg" alt="" width="100%" />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Afnan M</h4>
                        <p class="profile-modern-position">Verkställande direktör</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Get in Touch</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="Content/images/team-3-369x315.jpg" alt="" width="100%" />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Mayedul I</h4>
                        <p class="profile-modern-position">Teknisk direktör</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Get in Touch</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="Content/images/team-4-369x315.jpg" alt="" width="100%" />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Mario M</h4>
                        <p class="profile-modern-position">Media direktör</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Get in Touch</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="Content/images/team-5-369x315.jpg" alt=""  width="100%" />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Paulina T</h4>
                        <p class="profile-modern-position">Media direktör</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Get in Touch</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="Content/images/team-6-369x315.jpg" alt=""  width="100%" />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Rayna M</h4>
                        <p class="profile-modern-position">Account manager</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Kontakta</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
            <!-- Profile Modern-->
            <article class="profile-modern">
                <figure class="profile-modern-figure">
                    <img class="profile-modern-image" src="Content/images/team-7-369x315.jpg" alt=""  width="100%" />
                </figure>
                <div class="profile-modern-main">
                    <div class="profile-modern-main-item profile-modern-main-item_primary">
                        <h4 class="profile-modern-name">Sakib M</h4>
                        <p class="profile-modern-position">Account manager</p>
                    </div>
                    <div class="profile-modern-main-item profile-modern-main-item_secondary">
                        <h4 class="profile-modern-main-title">Get in Touch</h4>
                        <ul class="list-inline list-inline-xs">
                            <li><a class="icon icon-md mdi mdi-facebook" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-twitter" href="#"></a></li>
                            <li><a class="icon icon-md mdi mdi-instagram" href="#"></a></li>
                        </ul>
                        <div class="profile-modern-toggle mdi mdi-arrow-top-right"></div>
                    </div>
                </div>
            </article>
            <!-- Profile Modern-->
          
        </div>
    </div>
</section>

<!-- Testimonials-->
<section class="section parallax-container section-lg bg-accent bg-overlay-3 text-center" data-parallax-img="images/bg-image-6.jpg">
    <div class="parallax-content">
        <div class="container">
            <div class="badge">Testimonials</div>
            <h3>What Users Think About Alice</h3>
            <div class="owl-carousel owl-carousel_type-1" data-items="1" data-dots="true" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
                <!-- Quote Classic-->
                <blockquote class="quote-classic">
                    <img class="quote-classic-avatar" src="images/testimonials-1-102x102.jpg" alt="" width="102" height="102" />
                    <div class="quote-classic-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat eros ac finibus congue. Integer consectetur, lorem nec accumsan <a href="#">#alice_app</a>, sem mauris pharetra arcu, id viverra eros ipsum ac lorem. Suspendisse potenti.</p>
                    </div>
                    <div class="quote-classic-meta">
                        <cite class="quote-classic-cite">Alice Doe</cite>
                        <p class="quote-classic-position">Regular Customer</p>
                    </div>
                </blockquote>
                <!-- Quote Classic-->
                <blockquote class="quote-classic">
                    <img class="quote-classic-avatar" src="images/testimonials-2-102x102.jpg" alt="" width="102" height="102" />
                    <div class="quote-classic-text">
                        <p>Ubi est clemens usus? Cursuss peregrinatione in nobilis avenio! Volare ducunt ad ignigena. Amors potus! Mirabilis sectam nunquam manifestums cursus est. Ferox, azureus sagas mechanice quaestio de <a href="#">#alice_app</a> peritus, domesticus accola.</p>
                    </div>
                    <div class="quote-classic-meta">
                        <cite class="quote-classic-cite">John Williams</cite>
                        <p class="quote-classic-position">Regular Customer</p>
                    </div>
                </blockquote>
                <!-- Quote Classic-->
                <blockquote class="quote-classic">
                    <img class="quote-classic-avatar" src="images/testimonials-3-102x102.jpg" alt="" width="102" height="102" />
                    <div class="quote-classic-text">
                        <p>Est audax lanista, cesaris. Nunquam acquirere <a href="#">#alice_app</a> diatria. Repressors ire! Cum planeta credere, omnes candidatuses demitto lotus, castus nixes. Galluss ridetis, tanquam teres fraticinida. Acipenser de teres hydra, reperire vox.</p>
                    </div>
                    <div class="quote-classic-meta">
                        <cite class="quote-classic-cite">Scott Johnson</cite>
                        <p class="quote-classic-position">Regular Customer</p>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<!-- Our Investors-->

