﻿
@{
    ViewBag.Title = "CMSinfo";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section class="breadcrumbs-custom">
    <div class="breadcrumbs-custom-main context-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <h3 class="breadcrumbs-custom-title">Optimize Features</h3><a class="link-waypoint-icon icon mdi mdi-chevron-double-down" href="#main-content" data-waypoint-to="#main-content" data-waypoint-relative-to=".rd-navbar-panel"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-aside">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Features</li>
            </ul>
        </div>
    </div>
</section>
<section class="section section-md bg-gray-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-12">
                <div class="tabs-custom tabs-features wow fadeIn" id="tabs-1">
                    <div class="tabs-features-aside">
                        <div class="badge">Features</div>
                        <h3><span>Best Business</span><br><span class="text-primary">Application</span></h3>
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" href="#tabs-1-1" data-toggle="tab">
                                    <p>A wide set of features</p>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#tabs-1-2" data-toggle="tab">
                                    <p>Weekly automatic updates</p>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#tabs-1-3" data-toggle="tab">
                                    <p>Full support for registered users</p>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#tabs-1-4" data-toggle="tab">
                                    <p>Free consultations with business experts</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content" style="background-image: url(../Content/images/prototype/macbook-frame.png);">
                        <div class="tab-pane fade show active" id="tabs-1-1" style="background-image: url(../Content/images/prototype/cmsdashboard.png);"></div>
                        <div class="tab-pane fade" id="tabs-1-2" style="background-image: url(../Content/images/prototype/cmsdashboard.png);"></div>
                        <div class="tab-pane fade" id="tabs-1-3" style="background-image: url(../Content/images/prototype/cmsdashboard.png);"></div>
                        <div class="tab-pane fade" id="tabs-1-4" style="background-image: url(../Content/images/prototype/cmsdashboard.png);"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section oh" id="main-content">

    <section class="stuck-navbar stuck-1 navbar bg-gray-100-color" data-navbar="{ &quot;stuck&quot;: { &quot;container&quot;: &quot;#main-content&quot;, &quot;offsetRef&quot;: &quot;.rd-navbar-panel&quot;}, &quot;anchor&quot;: {&quot;offsetRef&quot;: &quot;.rd-navbar-panel, .navbar&quot;}}">
        <nav class="navbar-inner">
            <ul class="container list-nav-classic navigation">
                <li><a href="#features-1">Opti-timer </a></li>
                <li><a href="#features-2">Work status</a></li>
                <li><a href="#features-3">The live Dashboard</a></li>

            </ul>
        </nav>
    </section>
    <section class="section-md bg-gray-100">
        <!-- Quick and Intuitive Profile Configuration in 3 steps-->
        <div class="container" id="features-1">
            <div class="row row-50 justify-content-xl-between align-items-center">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <div class="unit unit-spacing-1 align-items-center">
                        <div class="unit-left">
                            <div class="icon icon-style-1 mdi mdi-account-multiple-plus"></div>
                        </div>
                        <div class="unit-body">
                            <h3>Opti-timer </h3>
                        </div>
                    </div>
                    <div class="block-4 offset-top-4">
                        <p class="big text-gray-900">the Opti-timer has been developed to help employees focus better by creating focus and break periods, where individuals work in shorter intervals and take shorter planned breaks. Working in this manner enables deeper focus and learning, we also recognize the fact that humans are unique, that is why we have designed the Opti-timer to be 100% configurable for everyone to create their optimal work environment.</p>
                        <p>Configurables:</p>
                        <ul class="list-marked list-marked_secondary">
                            <li>Length for focus period (25-30 minutes is recommended) </li>
                            <li>Length for short break (5-7 minutes is recommended)</li>
                            <li>Length for long break (25-30 minutes is recommended)</li>
                            <li>After how many focus periods will a long break take place (4-6 periods are recommended)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <div class="tabs-custom tabs-features wow">
                        <div class="tab-content" style="background-image: url(../Content/images/macbook-frame-1-866x488.png);">

                            <div class="tab-pane fade show active" id="tabs-1-1" style="background-image: url(../Content/images/prototype/Timer-Setting.png);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- We Have a Lot of Useful Solutions for You-->
        <div class="container" id="features-2">
            <div class="row row-50 justify-content-xl-between align-items-center flex-md-row-reverse">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <div class="unit unit-spacing-1 align-items-center">
                        <div class="unit-left">
                            <div class="icon icon-style-1 mdi mdi-calendar-check"></div>
                        </div>
                        <div class="unit-body">
                            <h3>Work status</h3>
                        </div>
                    </div>
                    <div class="block-4 offset-top-4">

                        <ul class="list-marked_secondary">
                            <li style="display:inline-flex"><div class="red-circle"></div><p style="margin-left:10px">Individual should not be interrupted</p></li>
                            <li style="display:inline-flex"><div class="blue-circle"></div><p style="margin-left:10px">Open for collaboration</p></li>
                            @*<li style="display:inline-flex"><div class="green-circle"></div><p style="margin-left:10px">Open for collaboration</p></li>*@
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <div class="tabs-custom tabs-features wow">
                        <div class="tab-content" style="background-image: url(../Content/images/macbook-frame-1-866x488.png);">

                            <div class="tab-pane fade show active" id="tabs-1-1" style="background-image: url(../Content/images/prototype/Profilesetting–1.png);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Use Our Stickers to Tell About Your Emotions-->
        <div class="container" id="features-3">
            <div class="row row-50 justify-content-xl-between align-items-center">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <div class="unit unit-spacing-1 align-items-center">
                        <div class="unit-left">
                            <div class="icon icon-style-1 mdi mdi-emoticon"></div>
                        </div>
                        <div class="unit-body">
                            <h3>The live Dashboard</h3>
                        </div>
                    </div>
                    <div class="block-4 offset-top-4">
                        <p class="big text-gray-900">The dashboard seamlessly integrates our two previous functions, the users will be able to see who is in what work status if they are in a break or focus session as well as their colleague's timers. This will create an environment where workers can focus better with the help of the timer and minimize distractions because everyone can see who is not to be disturbed.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <div class="tabs-custom tabs-features wow">
                        <div class="tab-content" style="background-image: url(../Content/images/macbook-frame-1-866x488.png);">
                            <div class="tab-pane fade show active" id="tabs-1-1" style="background-image: url(../Content/images/prototype/dashboard02–2.png);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>


