﻿
@{
    ViewBag.Title = "Features";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<section class="breadcrumbs-custom">
    <div class="breadcrumbs-custom-main context-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <h3 class="breadcrumbs-custom-title">Timeo</h3><a class="link-waypoint-icon icon mdi mdi-chevron-double-down" href="#main-content" data-waypoint-to="#main-content" data-waypoint-relative-to=".rd-navbar-panel"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-aside">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="active">Features</li>
            </ul>
        </div>
    </div>
</section>
<section class="section section-md">
    <div class="container">
        <div class="row row-50 align-items-center">
            <div class="col-md-6 col-lg-6">
                <h3><span>Optimera arbetsmiljön med,</span><span class="text-primary">Timeo!</span></h3>
                <p class="text-gray-900">
                    I dagens urbaniserade samhälle ser vi allt stigande priser på kontorslokaler, vilket har lett till att allt fler företag har övergått till en öppen kontorsplan. Denna layout gör det möjligt för företagare att maximera sina kontorsutrymmen med fler anställda per kvadratmeter.
                </p>
                <p class="text-gray-900">
                    Det är ett faktum att öppna kontorsplaner skapar bättre förutsättningar för idédelning och samarbete men problemet är att dessa interaktioner kan ske i oönskade situationer samt att de kan avbryta andra individer som inte deltar i diskussionen. Så hur löser vi detta? Svaret är Timeo!
                </p>
                <p>
                    Vårt verktyg är utformat för att hålla alla fördelar med en öppen kontorsplan samtidigt som nackdelarna minimeras. Resultatet blir en arbetsmiljö där dessa interaktioner sker på rätt tid och plats samtidigt som vi behåller fördelarna med mänsklig interaktion.
                </p>
            </div>
            <div class="col-md-6 col-lg-6">
                
                <div class="tabs-custom tabs-features wow">
                    <div class="tabs-horizontal">
                       
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" href="#tabs-1-1" data-toggle="tab">
                                    <p>Dashboard - 1</p>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#tabs-1-2" data-toggle="tab">
                                    <p>Dashboard - 2</p>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#tabs-1-3" data-toggle="tab">
                                    <p>Profile</p>
                                </a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" href="#tabs-1-4" data-toggle="tab">
                                    <p>Seetings</p>
                                </a>
                            </li>
                        </ul>
                        </div>
                        <div class="tab-content" style="background-image: url(../Content/images/macbook-frame-1-866x488.png);">

                            <div class="tab-pane fade show active" id="tabs-1-1" style="background-image: url(../Content/images/prototype/dasboard02–1.png);"></div>
                            <div class="tab-pane fade" id="tabs-1-2" style="background-image: url(../Content/images/prototype/dashboard02–2.png);"></div>
                            <div class="tab-pane fade" id="tabs-1-3" style="background-image: url(../Content/images/prototype/Profilesetting–1.png);"></div>
                            <div class="tab-pane fade" id="tabs-1-4" style="background-image: url(../Content/images/prototype/Timer-Setting.png);"></div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</section>
<section class="section oh" id="main-content">

    <section class="stuck-navbar stuck-1 navbar bg-gray-100-color" data-navbar="{ &quot;stuck&quot;: { &quot;container&quot;: &quot;#main-content&quot;, &quot;offsetRef&quot;: &quot;.rd-navbar-panel&quot;}, &quot;anchor&quot;: {&quot;offsetRef&quot;: &quot;.rd-navbar-panel, .navbar&quot;}}">
        <nav class="navbar-inner">
            <ul class="container list-nav-classic navigation">
                <li><a href="#features-1">Focus-timer </a></li>
                <li><a href="#features-2">Live dashboard</a></li>
               

            </ul>
        </nav>
    </section>
    <section class="section-md bg-gray-100">
        <!-- Quick and Intuitive Profile Configuration in 3 steps-->
        <div class="container" id="features-1">
            <div class="row row-50 justify-content-xl-between align-items-center">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <div class="unit unit-spacing-1 align-items-center">
                        <div class="unit-left">
                            <div class="icon icon-style-1 mdi mdi-account-multiple-plus"></div>
                        </div>
                        <div class="unit-body">
                            <h3>Focus-timer </h3>
                        </div>
                    </div>
                    <div class="block-4 offset-top-4">
                        <p class="big text-gray-900">Timeo har utvecklats för att hjälpa medarbetare att fokusera bättre genom att skapa fokus- och rast perioder, där individer arbetar i korta intervaller och tar korta planerade raster. Efter X antal fokus perioder följs det senare upp med en längre planerad rast. Detta arbetssätt enligt studier skapar djupare fokus och lärande.</p>
                        <p class="big text-gray-900">
                            Vi inser också att människor är unika, därför har vi utformat Timeo för att vara 100% konfigurerbar så att alla kan skapa sin optimala arbetsmiljö.</p>

                        <p>Konfigurera:</p>
                        <ul class="list-marked list-marked_secondary">
                            <li>Längd för fokusperiod (25-30 minuter rekommenderas)</li>
                            <li>
                                Längd för kort paus (5-7 minuter rekommenderas)
                            </li>
                            <li>Längd för lång paus (25-30 minuter rekommenderas)</li>
                            <li>Efter hur många fokusperioder som kommer att en lång paus äga rum (4-6 perioder rekommenderas)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <div class="tabs-custom tabs-features wow">
                        <div class="tab-content" style="background-image: url(../Content/images/macbook-frame-1-866x488.png);">

                            <div class="tab-pane fade show active" id="tabs-1-1" style="background-image: url(../Content/images/prototype/Timer-Setting.png);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- We Have a Lot of Useful Solutions for You-->
        <div class="container" id="features-2">
            <div class="row row-50 justify-content-xl-between align-items-center flex-md-row-reverse">
                <div class="col-md-8 col-lg-7 col-xl-6">
                    <div class="unit unit-spacing-1 align-items-center">
                        <div class="unit-left">
                            <div class="icon icon-style-1 mdi mdi-calendar-check"></div>
                        </div>
                        <div class="unit-body">
                            <h3>Live Dashboard</h3>
                        </div>
                    </div>
                    <div class="block-4 offset-top-4">

                    
                             <p class="big text-gray-900">
    Instrumentpanelen integrerar sömlöst med våra två tidigare funktioner. Användarna kommer både kunna se vem som är i vilken arbetsstatus, om de är i en paus eller fokussession samt sin kollegas timers. Detta skapar en miljö där medarbetare kan fokusera bättre med hjälp av timern och där distraktionerna minimeras, då alla kan se vem som är upptagen och vem som är tillgänglig.
                        </p>

                             <p>
                                 Studier har visat att det är mer effektivt att arbeta i korta intervaller som följs upp med korta pauser än att arbeta i längre intervaller. Genom att implementera korta pauser hinner hjärnan ta in informationen samt att den får en kort återhämtning innan den går tillbaka till fokus perioden. Dock är det viktigt att vara fokuserad när timern är på och när timern går av är det viktigt att vi tar en kort paus från arbetet, då vi kan maximera vår prestanda på detta arbetssätt.
                             </p>
                           
                           
                            

                            
                            @*<li style="display:inline-flex"><div class="green-circle"></div><p style="margin-left:10px">Open for collaboration</p></li>*@
                        
                    </div>
                </div>
                <div class="col-md-4 col-lg-5">
                    <div class="tabs-custom tabs-features wow">
                        <div class="tab-content" style="background-image: url(../Content/images/macbook-frame-1-866x488.png);">

                            <div class="tab-pane fade show active" id="tabs-1-1" style="background-image: url(../Content/images/prototype/Profilesetting–1.png);"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     

    </section>
</section>


