﻿@model CMS.Dto.ContactDto
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<!-- Subscribe to Our Newsletter-->
<section class="section section-decoration-2">
    <div class="range justify-content-xl-between">
        <div class="cell-md-6 cell-xl-5 z-2">
            <div class="block-6">
                <h2 class="heading-decoration-1 wow clipInLeft"><span class="font-weight-extra-black">Optisoft </span><br><span class="font-weight-thin">paving the way for your business to grow</span></h2>
                <h4 class="text-default wow clipInLeft" data-wow-delay=".1s">
                    We understand the challenges that businesses are facing at this difficult time. Optimize is fully open and helping clients during the COVID-19 crisis, so we together can flourish once the global pandemic is over. This is achieved by having a unique pricing model for our product and services.
                </h4>
                <p>For more information please leave your email below</p>
                <form class="rd-form rd-mailform form-lg form-inline-1 wow clipInLeft" id="emailform">
                    <div class="form-wrap">

                        @Html.TextBoxFor(Model => Model.Email, new { @class = "form-input" })
                        @Html.LabelFor(Model => Model.Email, "Enter your e-mail...", new { @class = "form-label" })
                        @Html.Hidden("Subject", "Subscription Request")
                        <span class="form-validation" id="form-validation"></span>
                    </div>
                    <button class="button form-button button-primary" type="submit" id="btnSend" aria-label="Subscribe"><span class="icon form-button-icon-default mdi mdi-arrow-right"></span><span class="icon form-button-icon-success mdi mdi-check"></span><span class="icon form-button-icon-error mdi mdi-close"></span></button>
                    <div class="form-output" id="form-output-1"></div>
                </form>
            </div>
        </div>
        <div class="col-sm-10 col-lg-6 wow fadeInLeftSmall">
            <article class="safari-frame-1">
                <div class="safari-frame-1-bg wow fadeIn" data-wow-duration=".3s"> </div>
                <div class="safari-frame-1-outer wow fadeInUpSmall" data-wow-delay=".5s" data-wow-duration=".7s">
                    <img class="safari-frame-1-header" src="~/Content/images/safari-frame-header-891x44.png" alt="" width="891" height="44" />
                    <div class="thumbnail-classy">
                        <div class="thumbnail-classy-image bg-image" style="background-image: url(../Content/images/home_banner.jpg);"></div>
                        @*<div class="thumbnail-classy-caption">
                <a class="thumbnail-classy-button mdi mdi-play" href="https://www.youtube.com/watch?v=I5FlP07kdvM" data-lightgallery="item">
                    <svg class="thumbnail-classy-button-shape" width="86" height="86" viewbox="0 0 88 88" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges">
                        <rect x="1" y="1" width="86" height="86" rx="6" ry="6"></rect>
                    </svg>
                </a>
            </div>*@
                    </div>

                </div>
            </article>
        </div>
       
    </div>
    <div class="section-decoration-2-element wow fadeIn"></div>
</section>
<!-- About App-->
<section class="section section-lg bg-gray-100">
    <div class="container">
        <div class="row row-50 justify-content-center justify-content-lg-start flex-lg-row-reverse ">
            <div class="col-sm-10 col-lg-6 ">

                <div class="block-5 tabs-features-aside">
                    <div class="badge">Vad vi erbjuder</div>
                    <h3><span>Framtidssäkra er med,</span><br><span class="text-primary">En annorlunda IT partner!</span></h3>

                    <p class="big text-gray-900">
                        Hos Optisoft hittar ni en IT partner som har er rygg genom genom hela er digatalaresa!

                        Vi strävar efter långvariga partnerskap där vi tillhandahåller alla era IT tjänster under ett och samma tak. På så sätt kan vi växa tillsammans och framtidssäkra er verksamhet!
                    </p>
                    

                </div>
        </div>
        <div class="col-sm-10 col-lg-6 wow fadeInLeftSmall">
            <div class="thumbnail-classy">
                <div class="thumbnail-classy-image bg-image" style="background-image: url(../Content/images/home_offer.jpg);"></div>
               
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About our App-->
<section class="section section-md bg-gray-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-12">
                <div class="tabs-custom tabs-features wow fadeIn" id="tabs-1">
                    <div class="tabs-features-aside">
                        <div class="badge">Våra tjänster</div>
                        <h3><span>Skräddarsydda lösningar </span><br><span class="text-primary">För skräddarsydda företag!</span></h3>
                        <p class="big text-gray-900">Vi tror starkt på att alla verksamheter är unika och kräver differentierade lösningar. På Optisoft jobbar vi med helhetslösningar anpassade just för dig, oavsett om det gäller en skräddarsydd produkt, attraktivt innehåll, sökmotoroptimering eller support!</p>

                        <p>
                            Läs mer om våra tjänster
                        </p> 
                        <a class="button button-default-outline button-winona" href="/Features">App & System</a>            
                        <a class="button button-default-outline button-winona" href="/Features">Hemsidor</a>
                      
                    </div>
                     <div class="col-sm-10 col-lg-6 wow fadeInLeftSmall">
                        <div class="thumbnail-classy">
                            <div class="thumbnail-classy-image bg-image" style="background-image: url(../Content/images/home_web_solution.jpg);"></div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- What we Offer-->
<section class="section section-lg bg-white">
    <div class="container">
        <div class="row row-50 justify-content-center justify-content-xl-between align-items-center flex-md-row-reverse">
            <div class="col-sm-10 col-lg-5 wow fadeInRightSmall">
                <div class="badge">Våra produkter</div>
                <h3><span>Vi älskar</span> <span class="text-primary">Innovation!</span></h3>
                <p class="big">På Optisoft älskar vi att ligga i framkanten av innovation just därför har vi utvecklat,:</p>
                <ul class="list-marked list-marked_secondary">
                    <li>
                        Timeo ett fokusering verktyg som skapar den optimala arbetsmiljön genom att öka produktiviteten hos medarbetare
                        . Läs mer
                    </li>
                    <li>
                        Vår CMS är ett användarvänligt verktyg optimerad utefter dina behov med säkerhet och skalbarhet i åtanke. lär mer
                    </li>

                </ul>
            </div>
            <div class="col-sm-10 col-lg-6 wow fadeInLeftSmall">
                <div class="thumbnail-classy">
                    <div class="thumbnail-classy-image bg-image" style="background-image: url(../Content/images/product.jpg);"></div>
                    @*<div class="thumbnail-classy-caption">
                    <a class="thumbnail-classy-button mdi mdi-play" href="https://www.youtube.com/watch?v=I5FlP07kdvM" data-lightgallery="item">
                        <svg class="thumbnail-classy-button-shape" width="86" height="86" viewbox="0 0 88 88" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges">
                            <rect x="1" y="1" width="86" height="86" rx="6" ry="6"></rect>
                        </svg>
                    </a>
                </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- More Features-->
<section class="section section-lg bg-white">
    <div class="container">
        <div class="row row-50 justify-content-center justify-content-xl-between align-items-center">
            <div class="col-sm-10 col-lg-5 wow fadeInLeftSmall">
                <div class="badge">What we Are</div>
                <h3>Our core values</h3>
                <p class="big">At optimize we believe in people. We believe that all workplaces have the ability to optimize their productivity, given the right tools.</p>
                <ul class="list-marked list-marked_secondary">
                    <li>People are the greatest asset. </li>
                    <li>There is always a sustainable solution. </li>

                </ul><a class="button button-default-outline button-winona" href="/About">Read More</a>
            </div>
            <div class="col-sm-10 col-lg-6 wow fadeInLeftSmall">
                <div class="thumbnail-classy">
                    <div class="thumbnail-classy-image bg-image" style="background-image: url(../Content/images/corevalues.jpg);"></div>
                    @*<div class="thumbnail-classy-caption">
                    <a class="thumbnail-classy-button mdi mdi-play" href="https://www.youtube.com/watch?v=I5FlP07kdvM" data-lightgallery="item">
                        <svg class="thumbnail-classy-button-shape" width="86" height="86" viewbox="0 0 88 88" xmlns="http://www.w3.org/2000/svg" shape-rendering="crispEdges">
                            <rect x="1" y="1" width="86" height="86" rx="6" ry="6"></rect>
                        </svg>
                    </a>
                </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        //jQuery code goes here

        $('#Email').on('input', function () {
            var input = $(this);
            //var re = "/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/";
            var is_email = input.val();
            if (is_email) { input.removeClass("invalid").addClass("valid"); }
            else { input.removeClass("valid").addClass("invalid"); }
        });
        $('#btnSend').on('click', function () {

            var formData = $('form').serialize();

            var error_free = true;



            $("form#emailform :input[type=text]").each(function () {
                var input = $(this);
                var valid = input.hasClass("valid");

                if (!valid) {
                    $('.form-wrap').addClass("has-error");
                    $(".form-wrap span").text("The text field is required.");

                    error_free = false;
                }
                else {
                    //error_element.removeClass("error_show").addClass("error");
                }
            });

            if (!error_free) {
                event.preventDefault();
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '/Admin/Contacts/SaveMessage',
                    data: formData,
                    success: function (data) {
                        window.location.href = "/Page/ThankYou";
                    },
                    error: function () {
                        $('.form-wrap').addClass("has-error");
                        $('#form-validation').val('invalid email address');
                    }
                });
            }



        });
    });

</script>

