﻿@model CMS.Dto.List1Dto

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Category Details
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Home", "Index", "Home")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">More Information</li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <a href='@Url.Action("Index", "Category")'>Back to List</a>
                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form>
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <strong>Category Details</strong>
                        </div>
                        <div class="card-body card-block">
                            <dl class="dl-horizontal">
                                
                                <dt>
                                    @Html.DisplayNameFor(model => model.Title)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Title)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.SmallDetails)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SmallDetails)
                                </dd>

                                

                                @*<dt>
                                    @Html.DisplayNameFor(model => model.SmallImage)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.SmallImage)
                                </dd>

                                

                                <dt>
                                    @Html.DisplayNameFor(model => model.ImageAltText)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.ImageAltText)
                                </dd>*@

                                

                                <dt>
                                    @Html.DisplayNameFor(model => model.Status)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Status)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.LastUpdated)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.LastUpdated)
                                </dd>


                            </dl>

                        </div>
                        <div class="card-footer">
                            <p>
                                <a href='@Url.Action("AddNew", "Category",new { listid = Model.ListID })'>Edit</a>  |  <a href='@Url.Action("Index", "Category")'>Back to List</a>
                            </p>
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </section>
</div>



