﻿@model CMS.Dto.ContactDto
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                      Request Message Details
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item">
                                    @Html.ActionLink("Home", "Index", "Home")

                                </li>
                                <li class="list-inline-item seprate">
                                    <span>></span>
                                </li>
                                <li class="list-inline-item">More Information</li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <a href='@Url.Action("Index", "Contacts")'>Back to List</a>
                </div>
            </div>
        </div>
    </section>
    <section class="statistic">
        <div class="container">
            <form>
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <strong>Message Details</strong>
                        </div>
                        <div class="card-body card-block">
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayName("Request Type")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Subject)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model=>model.Name)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Name)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Email)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Phone)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Phone)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Message)
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Message)
                                </dd>
                                <dt>
                                    @Html.Display("Request Date")
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.AddedDateText)
                                </dd>


                            </dl>

                        </div>
                        <div class="card-footer">
                            <p>
                                <a href='@Url.Action("Index", "Contacts")'>Back to List</a>
                            </p>
                        </div>
                    </div>

                </div>

            </form>

        </div>

    </section>
</div>

