﻿@model IEnumerable<CMS.Dto.ContactDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}

<div class="page-content--bgf7 main-content">

    <!-- END BREADCRUMB-->
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        All Contact Requests
                    </h1>
                    <hr class="line-seprate">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="au-breadcrumb-content">
                        <div class="au-breadcrumb-left">
                            <span class="au-breadcrumb-span">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active">
                                    <a href="#">Home</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span>/</span>
                                </li>
                                <li class="list-inline-item">Contact Messages</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END WELCOME-->
    <section class="statistic">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->

                    
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Request Type</th>
                                    <th>Contact Details</th>
                                    <th>Message</th>
                                    <th>Request Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="tr-shadow">
                                        <td>@Html.DisplayFor(modelItem=> item.Subject)</td>
                                        <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email) <br />
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Message)</td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.AddedDateText)
                                        </td>

                                        <td>
                                            <div class="table-data-feature">
                                                
                                                <button onclick="DeleteContact(@item.ContactId)" class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>

                                                <button class="item" onclick="location.href='@Url.Action("Details", "Contacts",new { id = item.ContactId })';return false;" data-toggle="tooltip" data-placement="top" title="Details">
                                                    <i class="zmdi zmdi-more"></i>
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
        </div>
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        DeleteContact = function (id) {
           
            $.ajax({
                type: "POST",
                url: '/Admin/Contacts/RemoveMessage',
                data: {id:id},
                DataType: 'json',
                success: function (data) {
                    $('#successModal').modal('show');
                    $('#successModalText').text(data.Message);

                },
                error: function () {
                    $('#successModal').modal('show');
                    $('#successModalText').text(error.status + "<--save and--> " + error.statusText);

                }
            });
        }


    </script>
</div>

