﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<section class="breadcrumbs-custom">
    <div class="breadcrumbs-custom-main context-dark">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9">
                    <h3 class="breadcrumbs-custom-title">Våra senaste projekt</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-aside">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active">Portfolio</li>
            </ul>
        </div>
    </div>
</section>
<section class="section section-md bg-gray-100 text-center">
    <div class="container">
        <div class="badge">Café och Restauranger</div>
        @*<h3>Our Investors</h3>*@
        <!-- Owl Carousel-->
    <div class="owl-carousel owl-carousel-centered" data-items="3" data-sm-items="1" data-md-items="2" data-lg-items="3" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
        <div class="wow clipInLeft" data-wow-delay=".1s"><a class="link-image-1" href="javascript:;" target="_blank"><img src="~/content/images/portfolio/chamas.png" alt="" /><h4>Al-basha kolgrill</h4></a></div>
        <div class="wow clipInLeft" data-wow-delay=".2s"><a class="link-image-1" href="javascript:;" target="_blank"><img src="~/content/images/portfolio/easternmangrove.png" alt="" /><h4>Ensushi</h4></a></div>
        <div class="wow clipInLeft" data-wow-delay=".2s"><a class="link-image-1" href="javascript:;" target="_blank"><img src="~/content/images/portfolio/mhmotors.png" alt="" /><h4>Pärla sushi</h4></a></div>
        <div class="wow clipInLeft" data-wow-delay=".2s"><a class="link-image-1" href="javascript:;" target="_blank"><img src="~/content/images/portfolio/mayedul.png" alt="" /><h4>Hookah café</h4></a></div>
        <div class="wow clipInLeft" data-wow-delay=".3s"><a class="link-image-1" href="javascript:;" target="_blank"><img src="~/content/images/portfolio/collection.png" alt="" /><h4>Pizzeria</h4></a></div>
        <div class="wow clipInLeft"><a class="link-image-1" href="javascript:;" target="_blank"><img src="~/content/images/portfolio/thecakebar.png" alt="" /><h4>The Cake Bar</h4></a></div>

    </div>
    </div>
    <div class="container">
        <div class="badge">kommersiella sidor</div>
        @*<h3>Our Investors</h3>*@
        <!-- Owl Carousel-->
    <div class="owl-carousel owl-carousel-centered" data-items="3" data-sm-items="1" data-md-items="2" data-lg-items="3" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
        <div class="wow clipInLeft" data-wow-delay=".3s"><a class="link-image-1" href="javascript:;" target="_blank"><img src="~/content/images/portfolio/geely.png" alt="" /><h4>Desifoods</h4></a></div>
        <div class="wow clipInLeft"><a class="link-image-1" href="javascript:;" target="_blank"><img src="~/content/images/portfolio/iddesign.png" alt="" /><h4>Blomstercity</h4></a></div>
        <div class="wow clipInLeft" data-wow-delay=".1s"><a class="link-image-1" href="javascript:;" target="_blank"><img src="~/content/images/portfolio/Safira.png" alt="" /><h4>Ajay Foods</h4></a></div>




    </div>
    </div>
    <div class="container">
        <div class="badge">Företagssida</div>
        @*<h3>Our Investors</h3>*@
        <!-- Owl Carousel-->
    <div class="owl-carousel owl-carousel-centered" data-items="3" data-sm-items="1" data-md-items="1" data-lg-items="3" data-dots="true" data-nav="false" data-stage-padding="0" data-loop="true" data-margin="30" data-mouse-drag="false">
        <div class="wow clipInLeft" data-wow-delay=".3s"><a class="link-image-1" href="javascript:;" target="_blank"><img src="~/content/images/portfolio/messagemonkey.png" alt="" /><h4>MxM</h4></a></div>
        <div class="wow clipInLeft"><a class="link-image-1" href="javascript:;" target="_blank"><img src="~/content/images/portfolio/jamesberry.png" alt="" /><h4>Futuratech</h4></a></div>

        <div class="wow clipInLeft" data-wow-delay=".1s"><a class="link-image-1" href="javascript:;" target="_blank"><img src="~/content/images/portfolio/hoihgm.png" alt="" /><h4>Larssons juristbyrå</h4></a></div>
        
    </div>
    </div>
</section>

